#titulo {
    color: aliceblue;
    padding: 60px 20px;
}

#back {
    width: auto;
    height: 200px;
    background-image: linear-gradient(90deg, #272729d2 30%, rgba(255, 0, 0, 0) 70% ), url(./assets/img/bookscover.jpeg);

}



body {
    background-color: beige;
}

